<div class="add-feedback-comment-container">
    <div ng-if="feedbackTicketCtrl.feedbackTickets && feedbackTicketCtrl.feedbackTickets.length">
        <div class="added-feedback">
            <ul>
                <!--  | showNFeedback : feedbackTicketCtrl.initialShowingFeedbackCount -->
                <li ng-repeat="feedbackTicket in feedbackTicketCtrl.feedbackTickets">
                    <p class="comment-content-wrap">
                        <span class="feedback-user-name">{{feedbackTicket.EMAIL | getFirstPartOfEmail}}</span>
                        <span class="added-content"> added feedback</span>
                        <a ng-if='"false" == noWorkOrder' href="{{feedbackTicket.LINK}}" target="_blank"><strong>{{feedbackTicket.WORK_ORDER}}</strong></a>
                        <span class="comment-wrapper">{{feedbackTicket.DESCRIPTION}}</span>
                    </p>

                    <div>
                        <span class="feedback-time-duration">{{feedbackTicket.DATE_CREATED | timeago}}</span>
                        <a ng-hide="isAddingFeedback" ng-click="isAddingFeedback = true;">Add Comment</a>
                    </div>
                    <ul class="comment-reply" ng-show="feedbackTicket.COMMENTS.length">
                        <li ng-repeat="comment in feedbackTicket.COMMENTS">
                            <p class="comment-content-wrap">
                                <span class="comment-reply-user-name">{{comment.EMAIL | getFirstPartOfEmail}}</span>
                                <span class="added-content">added comment</span>
                                <span class="comment-wrapper">{{comment.DESCRIPTION}}</span>
                            </p>

                            <div>
                                <span class="comment-reply-time-duration">{{comment.DATE_CREATED | timeago}}</span>
                            </div>
                        </li>
                    </ul>
                    <feedback-ticket-comment feedback-id="{{feedbackTicket.ID}}" comments="feedbackTicket.COMMENTS"
                                             context="{{context}}" app-id="{{appId}}"
                                             id="commentBox{{$index+feedbackTicket.ID}}"
                                             work-order-id="{{feedbackTicket.WORK_ORDER}}"
                                             is-adding-feedback="isAddingFeedback"></feedback-ticket-comment>
                </li>
            </ul>
        </div>
    </div>

    <div ng-if="feedbackTicketCtrl.isEditorVisible" class="input-group col-xs-7 marginT20">
        <textarea class="form-control custom-control" rows="6" style="resize:none" ng-trim="false" max-text-count="250"
                  ng-model="feedbackTicketCtrl.newFeedbackTicket"></textarea>
        Remaining: {{ feedbackTicketCtrl.newFeedbackTicket.length | remainingCount : 250 }}
    </div>

    <div ng-bind="feedbackTicketCtrl.addFeedbackTicketErrorMessage" class="add-feedback-error"></div>
    <div class="add-feedback-comment-btn-container">
        <button ng-if="feedbackTicketCtrl.isEditorVisible" ng-disabled="feedbackTicketCtrl.isAddingNewFeedbackTicket"
                ng-click="feedbackTicketCtrl.post()" class="btn btn-primary" type="button">Add
        </button>
        <button ng-if="feedbackTicketCtrl.isEditorVisible" ng-disabled="feedbackTicketCtrl.isAddingNewFeedbackTicket"
                ng-click="feedbackTicketCtrl.cancel()" class="btn btn-default">Cancel
        </button>
        <button ng-if="!feedbackTicketCtrl.isEditorVisible" ng-disabled="feedbackTicketCtrl.isAddingNewFeedbackTicket"
                ng-click="feedbackTicketCtrl.isEditorVisible = true" class="btn btn-primary" type="button">Add Feedback
        </button>
    </div>
</div>
