﻿<div ng-controller="loginController" ng-init="initializeController()" ng-cloak>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 assetIT-main-login_container">
            <h1>Asset Management Platform Login</h1>
            <form name="loginForm" novalidate="novalidate">
                <p class="text-center" ng-class="{'bg-danger': request.isSuccess==false, 'bg-success': request.isSuccess==true}" ng-show="request.message!=''">
                            {{ request.message }}
                        </p>
                <div class="form-group" ng-class="{'has-error': error.username.isValid==false }">
                    <input id="loginEmail" type="text" class="form-control" ng-model="loginInfo.username" placeholder="Enter PG&E LAN ID" autocapitalize="off" autocorrect="off">
                    <div class="text-danger" ng-show="!error.username.isValid"> {{ error.username.message }}</div>
                </div>
                <div class="form-group" ng-class="{'has-error': error.password.isValid==false}">
                    <input id="loginPassword" type="password" class="form-control" placeholder="Enter PG&E Network Password" ng-model="loginInfo.password">
                    <div class="text-danger" ng-show="!error.password.isValid"> {{ error.password.message }}</div>
                </div>
                <button class="btn btn-block btn-lg btn-primary" ng-click="authenticateUser()">Login</button>
                <span id="unAuth" class="help-block"></span>
            </form>
            <p class="text-center">
                Don’t have AMPS Account? <a href="#register" >Register.</a>
            </p>
            <p class="text-center disclaimer">
                Per PG&E policy, If you incorrectly enter your network password 3 times, your PG&E account will be locked out.
            </p>
            <!--<div ng-if="splashAnnouncements.isActive">
                <h2>Announcements</h2>
                    <div ng-bind-html="splashAnnouncements.title" class="announcement-cont"></div>
            </div>-->
        </div>
    </div>
</div>
