<div ng-controller="resetPasswordController" ng-init="initializeController()" ng-cloak>
    <!--reset Password start-->
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 assetIT-main-login_container">
                    <h1>Reset Password</h1>
                    <form name="resetPasswordForm" novalidate="novalidate">
                        <p class="text-center" ng-class="{'bg-danger': request.isSuccess==false}" ng-show="request.isSuccess==false">
                            {{ request.message }}
                        </p>
                        <div ng-show="request.isSuccess==true">
                        <p class="reset-password-msg">
                            Enter the new Password to sign in with Asset Management Platform.
                        </p>
                        <div class="form-group" ng-class="{'has-error': error.password.isValid==false}">
                            <input type="password" class="form-control" placeholder="New Password" ng-model="userInfo.password">
                            <div class="text-danger" ng-show="!error.password.isValid"> {{ error.password.message }}</div>
                        </div>  
                        <div class="form-group" ng-class="{'has-error': error.cnf_password.isValid==false}">
                            <input type="password" class="form-control" placeholder="Repeat Password" ng-model="userInfo.cnf_password">
                            <div class="text-danger" ng-show="!error.cnf_password.isValid"> {{ error.cnf_password.message }}</div>
                        </div>                        
                        <button class="btn btn-sm btn-primary" ng-click="savePassword()">Continue</button>
                        <span id="unAuth" class="help-block"></span>
                        </div>
                    </form>
                    <!--<div>-->
                        <!--<p class="text-center">-->
                            <!--Continue to <a href="#login">Login</a>.-->
                        <!--</p>-->
                    <!--</div>-->
                </div>
            </div>
            <!--Reset Password ends-->
</div>