<div class="infrastructure-tab">
    <button class="btn btn-default" type="button" ng-click="openActiveTab('server')">Server</button>
    <button class="btn btn-default" type="button" ng-click="openActiveTab('database')">Database</button>
    <button class="btn btn-default" type="button" ng-click="openActiveTab('middleware')">Middleware</button>
    <div class="infrastructure-tab-container">
        <h1>Infrastructure Details</h1>
        <div style="width:100%;clear:both;">
            <section ng-include src="tabsInfo.activeTab.view"></section>
        </div>
    </div>
</div>