<div ng-repeat="environment in infraArray | orderBy:seq:true" class="infraEnvironments">
    <table>
        <tr>
            <td><h3 class="pull-left">{{environment.envi.name}} </h3>
                <div class="dropdown pdf-dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#infra-filter-menu">
                        <span class="assetIT-header-nav_welcome_txt"> <span class="caret"></span> {{environment.envi.activeFilter}}</span>
                    </a>
                    <ul id="infra-filter-menu" class="dropdown-menu" role="menu">
                        <li ng-repeat="(k, v) in environment.envi.filters" ng-click="v.filterData(environment.envi, environment.key, v)"><a href="javascript:void(0);">{{ v.item }}</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
    <div infra-environment-grid data="environment.envi.data" type="{{environment.key}}" class="app-table-bdr"></div>
</div>
