<div class="assetIT-main-process_multiple_list">
    <div>
        <button type="button" class="close" aria-label="Close" data-ng-click="modalOptions.close()"><span>×</span></button>
        <h1 class="model-heading">MCPs</h1>
    </div>
    <div class="modal-body mdbodyCustom">
        <div>
            <ul id="ulp" class="processList">
                <li ng-repeat="process in selectedItem.processInfo">
                    <div class="row">
                        <div class="col-md-4">
                            <a ng-click="routeToProcess('process', process.CODE)" clas class="multiplePLink">{{ process.CODE }}</a>
                        </div>
                        <div class="col-md-8">{{  process.DESCRIPTION }}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="text-right">
        <button class="btn btn-default" data-ng-click="modalOptions.close()">Close</button>
    </div>
</div>
