<div ng-controller="lobsController" ng-init="initializeController()">
    <div asset-it-filter-options filter-grid-record="filterGridRecord" search-text-data="searchTextData" filtered-state="filteredState" export-to="exportOption"></div>
    <div class="clearfix"></div>
    <div class="application-container mobile-fix">
        <div id="grid" class="app-table-bdr gridRequiredClass" kendo-plugin config="config" search-text-data="searchTextData" grid-options="config" filter-grid-fn="filterGrid" highlight-fn="highlight" show-popup="showPopup" custom-fn="customFn" export-to="exportOption"></div>
    </div>
    <script type="text/x-kendo-template" id="appTemplate">
        <div class="visible-xs col-xs-12 visible-mobile">
            <div class="tabstrip">
                <ul>
                    <li class="k-state-active">General</li>
                </ul>
                <div class="mobile-subnav-tab appList"></div>
            </div>
        </div>
        <div class="tabstrip">
            <ul>
                <li class="k-state-active">General</li>
                <li class="feedbackTicket" attr-code="#: LOB_NAME #">Feedback <span class="#= COUNT ? '' : 'hide' #">(<span class="feedbackCount#= LOB_NAME.replace(/[^a-zA-Z0-9]/g, '_') #">#: COUNT #</span>)</span></li>
            </ul>
            <div class="appList"></div>
            <div>
                <feedback-ticket context="lob" app-id="#: LOB_NAME #" update-feedback-count="updateFeedbackCount" no-work-order=false></feedback-ticket>
            </div>
        </div>
    </script>
</div>
<script type="text/x-kendo-template" id="errormsg-template">
    <span class="text-danger">#=message#</span>
</script>