<div ng-controller="homeController" ng-init="initializeController()" class="assetIT-main-btn_navigator_block">
    <div class="assetIT-page-heading noPadding">
        <h1>Welcome to AMPS</h1>
    </div>
    <div class="col-md-12 marginT10">
        <div class="input-group assetIT-main-search_control">
            <input type="text" class="form-control home" placeholder="Search Applications, MCPs, LOBs" aria-describedby="search field" sf-typeahead options="searchOptions" datasets="appDataset" ng-model="homeSearch">
        </div>
        
        <hr class="assetIT-main-content_partition row" />
        
    </div>
    
    <p>Welcome to the Asset Management Platform and Services (AMPS). Within this environment you can view Asset information tied to Applications, Mission Critical Processes, and Lines of Businesses. For an overview of the data flow, please look at the AMPS Data Flow <a href='http://help.am4it.com/amps-data-flow-overview/' target="_blank">Overview</a>. Use the Feedback option to send us information about the UI or about the Data. View AMPS <a href='http://help.am4it.com/amps/' target="_blank">Help</a> for additional information.</p>

    <div class="row">
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 center-block">
            <a href="#applications">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="application-btn btn-navigator">
                        <div class="icon-number">
                            <i class="icon-tasks"></i>
                            <div class="infobox-data">
                                <h3>{{count.applications}}</h3>
                                <small>Applications</small>
                                <div class="feedback-cont">{{count.appFeedback}}  Feedback </div>
                            </div>
                        </div>
                        <div class="status-title">
                            Click to View Details
                        </div>
                        <div class="go-arrow"></div>
                    </div>
                </div>
            </a>

            <a href="#mcps" class="disabled">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="process-btn btn-navigator">
                        <div class="icon-number">
                            <i class="icon-setting"></i>
                            <div class="infobox-data">
                                <h3>{{count.mcps}}</h3>
                                <small>MCPs</small>
                                <div class="feedback-cont">{{count.mcpFeedback}}  Feedback </div>
                            </div>
                        </div>
                        <div class="status-title">
                            Click to View Details
                        </div>
                        <div class="go-arrow"></div>
                    </div>
                </div>
            </a>

            <a href="#lobs" class="disabled">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="business-btn btn-navigator">
                        <div class="icon-number">
                            <i class="icon-user"></i>
                            <div class="infobox-data">
                                <h3>{{count.lobs}}</h3>
                                <small>Lines of Business</small>
                                <div class="feedback-cont">{{count.lobFeedback}}  Feedback </div>
                            </div>
                        </div>
                        <div class="status-title">
                            Click to View Details
                        </div>
                        <div class="go-arrow"></div>
                    </div>
                </div>
            </a>

            <!--<a class="disabled">-->
            <!--<div class="col-lg-3 col-sm-6 col-xs-12">-->
            <!--<div class="business-btn btn-navigator opacity5">-->
            <!--<div class="icon-number">-->
            <!--<i class="icon-infrastructure"></i>-->
            <!--<div class="infobox-data">-->
            <!--<h3>54</h3>-->
            <!--<small>Infrastructure</small>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="status-title">-->
            <!--Click to View Details-->
            <!--</div>-->
            <!--<div class="go-arrow"></div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--<a class="disabled">-->
            <!--<div class="col-lg-3 col-sm-6 col-xs-12">-->
            <!--<div class="business-btn btn-navigator opacity5">-->
            <!--<div class="icon-number">-->
            <!--<i class="icon-site"></i>-->
            <!--<div class="infobox-data">-->
            <!--<h3>30</h3>-->
            <!--<small>Site</small>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="status-title">-->
            <!--Click to View Details-->
            <!--</div>-->
            <!--<div class="go-arrow"></div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->

        </div>



    </div>

</div>



<h2> Asset Family</h2>

<hr class="assetIT-main-content_partition" />

<div class="row">

    <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="media">
            <div class="media-left">
                <i class="assetIT-family-icon icon-tasks"></i>
            </div>
            <div class="media-body assetIT-main-grid_content">
                <h3>Datacenter</h3>
                <p>
                    It includes all Data Center assets. <a href="https://sps.utility.pge.com/sites/AM4IT/project/Lists/Inventory_of_Inventories/AllItems.aspx#ServerFilter=FilterField1%3DAsset%255Fx0020%255FFamily%255Fx0020%255FL1-FilterValue1%3DDatacenter%2520Technologies" target="_blank">
                    Click for more <span class="arrow-right"></span> </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="media">
            <div class="media-left">
                <i class="assetIT-family-icon icon-globe"></i>
            </div>
            <div class="media-body assetIT-main-grid_content">
                <h3>Network</h3>
                <p>
                    It includes all Network assets.<a href="https://sps.utility.pge.com/sites/AM4IT/project/Lists/Inventory_of_Inventories/AllItems.aspx#ServerFilter=FilterField1%3DAsset%255Fx0020%255FFamily%255Fx0020%255FL1-FilterValue1%3DNetwork%2520Technologies" target="_blank">
                    Click for more <span class="arrow-right"></span></a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="media">
            <div class="media-left">
                <i class="assetIT-family-icon icon-lock"></i>
            </div>
            <div class="media-body assetIT-main-grid_content">
                <h3> Security</h3>

                <p>
                    It includes all Security assets.<a href="https://sps.utility.pge.com/sites/AM4IT/project/Lists/Inventory_of_Inventories/AllItems.aspx#ServerFilter=FilterField1%3DAsset%255Fx0020%255FFamily%255Fx0020%255FL1-FilterValue1%3DSecurity%2520Technologies" target="_blank">
                    Click for more <span class="arrow-right"></span></a>
                </p>

                <p>

                </p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="media">
            <div class="media-left">
                <i class="assetIT-family-icon icon-user"></i>
            </div>
            <div class="media-body assetIT-main-grid_content">
                <h3> Users</h3>
                <p>

                    It includes all User assets like laptops, desktops, printers etc.
                    <a href="https://sps.utility.pge.com/sites/AM4IT/project/Lists/Inventory_of_Inventories/AllItems.aspx#ServerFilter=FilterField1%3DAsset%255Fx0020%255FFamily%255Fx0020%255FL1-FilterValue1%3DUser%2520Technologies

                       " target="_blank">Click for more <span class="arrow-right"></span></a>
                </p>

                <p>



                </p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="media">
            <div class="media-left">
                <i class="assetIT-family-icon icon-wrench"></i>
            </div>
            <div class="media-body assetIT-main-grid_content">
                <h3> IT Operational Tools</h3>
                <p>

                    It includes iMonitoring, performance, automation, discovering and ticketing tools. <a href="https://sps.utility.pge.com/sites/AM4IT/project/Lists/Inventory_of_Inventories/AllItems.aspx#ServerFilter=FilterField1%3DAsset%255Fx0020%255FFamily%255Fx0020%255FL1-FilterValue1%3DIT%2520Operational%2520Tools" target="_blank">
                    Click for more <span class="arrow-right"></span></a>

                </p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-lg-3">
        <div class="media">
            <div class="media-left">
                <i class="assetIT-family-icon icon-phone"></i>
            </div>
            <div class="media-body assetIT-main-grid_content">
                <h3>Enterprise Mobile</h3>
                <p>

                    Enterprise mobile mgmt., deveoplemt and user experience.
                    <a href="https://sps.utility.pge.com/sites/AM4IT/project/Lists/Inventory_of_Inventories/AllItems.aspx#ServerFilter=FilterField1%3DAsset%255Fx0020%255FFamily%255Fx0020%255FL1-FilterValue1%3DInformation%2520Management" target="_blank">
                    Click for more <span class="arrow-right"></span></a>

                </p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="media">
            <div class="media-left">
                <i class="assetIT-family-icon icon-info-sign"></i>
            </div>
            <div class="media-body assetIT-main-grid_content">
                <h3>Information Mgmt.</h3>
                <p>

                    Information or record mgmt., taxonomies, metadeta, etc.<a href="https://sps.utility.pge.com/sites/AM4IT/project/Lists/Inventory_of_Inventories/AllItems.aspx#ServerFilter=FilterField1%3DAsset%255Fx0020%255FFamily%255Fx0020%255FL1-FilterValue1%3DInformation%2520Management

                       " target="_blank"> Click for more <span class="arrow-right"></span></a>

                </p>
            </div>
        </div>
    </div>

</div>
