<div>
    <!--<accordion>
        <accordion-group ng-repeat="item in accordianItems" is-open="item.isOpen">
            <accordion-heading>
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': item.isOpen, 'glyphicon-chevron-right': !item.isOpen}"></i>
                {{item.title}}
            </accordion-heading>
            <div ng-include ng-if="item.isOpen" src="item.templateUrl"></div>
        </accordion-group>
    </accordion>-->
        
            <div infra-grid></div>
   
</div>
