<div ng-controller="infrastructureController" class="infrastructure-tab">
    <div class="assetIT-page-heading">
        <h1>Infrastructure</h1>
        <h5 ng-if="userRole" style="color:red; font-style:italic">
            <span class="ng-binding">
                 This section is under construction.
            </span>
        </h5>

        <p ng-show="!userRole" style="color:red">
            You are not authorized to view this information. <a href="javascript:void(0);"
                                                                ng-click="openEnterpriseAccess()">Click here</a> to
            request access.
        </p>
    </div>
    <div class="assetIT-main-feedback_ctrl_container" ng-if="userRole" ng-init="initializeController()">
        <div class="pull-right grid-top-btn" ng-show = "!isSafari">
            <a class="btn-excel hidden-xs" ng-click="exportGridExcel()" title="Export to Excel"><i class="icon-excel"></i></a>
            <a class="btn-CSV hidden-xs" ng-click="exportGridCsv()"  title="Export to CSV">CSV</a>
        </div>
        <div class="mobile-fix tabstrip "></div>
    </div>
</div>
