<div ng-controller="enterpriseAccessController">
    <form name="enterpriseForm" novalidate="novalidate" class="ng-pristine ng-invalid ng-invalid-required">
        <div>
            <button type="button" class="close" aria-label="Close" data-ng-click="modalOptions.close()"><span>x</span></button>
            <h1 class="model-heading">Request Enterprise Features</h1>
            <div ng-if="enterprise.workOrder !== ''">
                We have already received your request. Your work order is {{enterprise.workOrder}}. Please contact the administrator.
            </div>
            <div ng-if="enterprise.workOrder == ''">
                <div class="form-group">
                    <label for="supervisorLanId" class="headingColor">Supervisor LAN ID <span>*</span></label>
                    <input type="text" class="form-control input-sm" ng-model="enterprise.supervisorLanId" placeholder="Enter Supervisor LAN ID" required autofocus>
                    <div class="text-danger" ng-show="!error.isValid"> {{ error.message}}</div>
                </div>
                <div class="form-group">
                    <label for="businessJustification" class="headingColor">Business Justification <span>*</span></label>
                    <textarea class="form-control" ng-model="enterprise.businessJustification" placeholder="Enter Business Justification" style="height: 120px;" required></textarea>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary" ng-disabled="!enterprise.supervisorLanId || !enterprise.businessJustification" ng-click="submitEnterprise(modalOptions)">Send</button> &nbsp;
                    <button class="btn btn-default" data-ng-click="modalOptions.close()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>