<div class="col-md-8 col-md-offset-2 excel-utility">
    <div class="clearfix"></div>
    <h2>Version History</h2>

    <div class="row marginT20">
        <form name="myForm">
            <div class="col-md-3">
                <label class="col-md-10 control-label">From Date:</label>
                <span class="col-md-2 error"
                      ng-show="!myForm.activeSheet.$error.required && myForm.activeFromVersion.$error.required">*</span>

                <div class="col-md-12 selectContainer">
                    <input id="fromDatepicker" kendo-date-picker style="box-sizing: content-box; width:100%"
                           ng-model="diff.fromDateString"
                           k-ng-model="diff.fromDateObject"
                           k-max="diff.maxDate"
                           k-rebind="diff.maxDate"
                           k-on-change="diff.fromDateChanged()"
                           ng-required/>
                </div>
            </div>
            <div class="col-md-3">
                <label class="col-md-10 control-label">To Date:</label>
                <span class="col-md-2 error"
                      ng-show="!(myForm.activeFromVersion.$error.required || myForm.activeSheet.$error.required) && myForm.activeToVersion.$error.required">*</span>

                <div class="col-md-12 selectContainer">
                    <input id="toDatepicker" kendo-date-picker style="box-sizing: content-box; width:100%"
                           ng-model="diff.toDateString"
                           k-ng-model="diff.toDateObject"
                           k-min="diff.fromDateString"
                           k-max="diff.maxDate"
                           k-rebind="diff.fromDateString"
                           k-on-change="diff.toDateChanged()"
                           ng-disabled="!diff.fromDateObject"
                           ng-required/>
                </div>
            </div>
            <div class="col-md-3">
                <label class="col-md-10 control-label">Sheet Name:</label><span class="col-md-2 error"
                                                                                ng-show="myForm.activeSheet.$error.required">*</span>

                <!--<div class="col-md-12 selectContainer">
                    <ul class="" ng-model="diff.selectedSheet" name="activeSheet">
                        <li>-- Choose Sheet Name --</li>
                        <li ng-repeat="sheet in diff.sheetNameAndLatestVersion">
                            {{sheet.displayName}}
                        </li>
                    </ul>

                </div>-->
                <div class="col-md-12 selectContainer dropdown">
                    <!--<button class="btn btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                        -- Choose Sheet Name --
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="demolist" ng-model="diff.selectedSheet" name="activeSheet">
                        <li>-- Choose Sheet Name --</li>
                        <li ng-repeat="sheet in diff.sheetNameAndLatestVersion">
                            {{sheet.displayName}}
                        </li>
                    </ul>-->

                    <div class="input-group">
                        <div class="form-control ellipsis"> {{diff.showSelectedSheet ? diff.showSelectedSheet : "Plese Select..."}}</div>
                        <div class="input-group-btn">
                            <button class="btn btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul id="sheetNamelist" class="dropdown-menu">
                                <li ng-repeat="sheet in diff.sheetNameAndLatestVersion" ng-click="diff.changeSheetName(sheet)">
                                    {{sheet.displayName}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--ng-options="sheetNameAndLatestVersion.sheetName as sheetNameAndLatestVersion.displayName for sheetNameAndLatestVersion in diff.sheetNameAndLatestVersion"
                required-->
            </div>
            <div class="col-md-3">
                <label class="col-md-12 control-label">&nbsp;</label>

                <div class="col-md-12 selectContainer">
                    <input type="button" class="btn btn-success pull-left" value="Show Diff"
                           ng-disabled="myForm.$invalid || !diff.toDateObject || !diff.fromDateObject || !diff.selectedSheet"
                           ng-click="diff.showDiff()">
                </div>
            </div>
        </form>
    </div>
    <div class="row" ng-if="diff.historyRowData">
        <div class="col-xs-12 marginT20">
            <h2>Summary</h2>

            <div class="added-feedback">
                <ul>
                    <li>
                        Total {{diff.selectedSheetName}} on {{diff.fromDateResp | date:'MM/d/yyyy'}} : <b>{{diff.summaryCountFrom}}</b>
                        <br>
                        Total {{diff.selectedSheetName}} on {{diff.toDateResp | date:'MM/d/yyyy'}} : <b>{{diff.summaryCountTo}}</b>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" ng-if="diff.historyRowData">
        <div class="col-xs-12 marginB20">
            <h2>Detail</h2>

            <div class="added-feedback">
                <ul>
                    <li ng-if="!diff.changeExists">
                        No difference found.
                    </li>
                    <li ng-repeat="historyRecord in diff.historyRowData | orderBy: '-startTime'| limitTo: diff.limitOuter"
                        ng-if="diff.changeExists"
                        ng-init = "historyRecord.limitTo = diff.limitToCounter">
                        <p class="comment-content-wrap">
                            <span class="feedback-time-duration">New Version created by </span>
                            <span class="feedback-user-name">{{historyRecord.createdBy}}</span>
                            <span class="pull-right">{{historyRecord.startTime | date:'MMM d yyyy h:mm a'}}</span>
                            <span class="pull-right" style="margin-right:10px;" ng-if="$first"><strong>Current Approved
                                Version</strong></span>
                            <div>
                                <button class="btn btn-primary" ng-click="diff.loadImportRecord(historyRecord);"
                                        ng-if="historyRecord.dataObject == undefined"> Show Detail
                                </button>
                            </div>
                        </p>
                        <div>
                            <div class="col-xs-12" ng-if="historyRecord.showLoading">
                                <span class="loader-img pull-left"></span>
                            </div>
                            <div class="col-xs-12" ng-if="historyRecord.error">
                                <span class="alert-danger"> {{historyRecord.error}}</span>
                            </div>
                            <div class="col-xs-12 alert-warning" ng-if="historyRecord.dataObject != undefined && historyRecord.dataObject.length === 0">
                                <span> No change</span>
                            </div>
                            <div class="col-xs-12"
                                 ng-repeat="data in historyRecord.dataObject| limitTo: historyRecord.limitTo">
                                <span class="added-content" ng-init="data.showModifyDiff = false">
                                    <span ng-if="data.isRemoved" class="alert-danger">Removed</span>
                                    <span ng-if="!data.isRemoved && data.version !== 1">Modified</span>
                                    <span ng-if="!data.isRemoved && data.version === 1"
                                          class="alert-success">Added</span>
                                    <strong ng-repeat="key in diff.primaryKeys">{{diff.cols[key]}}:
                                        {{data.recordData[key]}} &nbsp;&nbsp;</strong>
                                     <span
                                         ng-if="!data.isRemoved && data.version !== 1 && data.comparerKeys == undefined"
                                         ng-click="diff.loadDiffData(data);"> <a
                                         href="javascript:void(0);">Show Difference</a></span>
                                </span>
                                <div class="marginT10 marginB20">
                                    <div class="col-xs-12" ng-if="data.showLoading">
                                        <span class="loader-img pull-left"></span>
                                    </div>
                                    <div class="col-xs-12" ng-if="data.error">
                                        <span class="alert-danger"> {{data.error}}</span>
                                    </div>
                                    <div class="row" ng-if="data.isReAdded">
                                        <div class="col-sm-3 alert-success">Re-added record</div>
                                    </div>
                                    <div class="row" ng-repeat="key in data.comparerKeys track by $index"
                                         ng-if="!data.isReAdded && (data.currentData[key] !== data.previousData[key])"
                                         ng-class="{diffRow: data.currentData[key] !== data.previousData[key]}">
                                        <div class="col-sm-3"><b> {{diff.cols[key] ? diff.cols[key] : key}}</b></div>
                                        <div class="col-sm-3 diffSelected">{{data.previousData.hasOwnProperty(key) ?
                                            data.previousData[key] : 'Not defined'}}
                                        </div>
                                        <div class="col-sm-3 diffCurrent">{{data.currentData.hasOwnProperty(key) ?
                                            data.currentData[key] : 'Not defined'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="center-block btn btn-primary marginT10" ng-click="historyRecord.limitTo = historyRecord.limitTo + diff.limitToCounter"
                                    ng-if="historyRecord.dataObject.length > 0 &&  historyRecord.dataObject.length  > historyRecord.limitTo">
                                 + More
                            </button>
                        </div>
                    </li>
                    <div>
                        <button class="center-block btn btn-success marginT10" ng-click="diff.limitOuter = diff.limitOuter + diff.limitToCounter"
                                ng-if="diff.historyRowData.length > diff.limitOuter"> + More
                        </button>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
