<div>
    <button type="button" class="close" aria-label="Close" data-ng-click="modalOptions.close()"><span> x </span></button>
    <!--<h1 class="model-heading"></h1>-->
    <div class="modal-body assetIT-main-feedback_thankyou_block text-center">
        <i class="icon-check-ok-lg"></i>
        <h4 class="text-center">Asset Management Platform</h4>
        <p> {{modalOptions.message}} </p>
    </div>
    <div class="text-right">
        <button class="btn btn-default" data-ng-click="modalOptions.close()">Close</button>
    </div>
</div>